#skills{
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    max-height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 0;
    overflow: hidden;
}

.skillsTitle {
    font-size: 3rem;
    color: var(--900);
    text-align: center;
    font-weight: 500;
}

.skillsCardWrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 3rem;
}

@media screen and (max-width:900px) {
    #skills{
        gap: 2.5rem;
    }
    .skillsCardWrapper{
        grid-template-columns: auto auto auto auto;
    }    
}

@media screen and (max-width: 540px){
    #skills{
        gap: 1.5rem;
    }

    .skillsTitle {
        font-size: 2.5rem;
    }

    .skillsCardWrapper{
        grid-template-columns: auto auto auto;
        gap: 1.5rem;
    }
    
}