#skills{
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    /* max-height: calc(100vh - 5rem); */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0 4rem 0;
    overflow: hidden;
}

.skillsTitle {
    font-size: 3rem;
    color: var(--900);
    text-align: center;
    font-weight: 500;
}
.skillsBody{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 2rem;
}

.skillsTypeContainer{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.skillsType {
    font-size: 1.25rem;
    color: var(--700);
    font-weight: 500;
}
.skillsWrapper{
    display: flex;
    gap: 1.5rem;
}


/* .skillsWrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 3rem;
} */

@media screen and (max-width:760px) {
    .skillsTypeContainer{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
}

@media screen and (max-width:560px) {
    .skillsWrapper{
        flex-wrap: wrap;
    }
}


/* @media screen and (max-width: 540px){
    #skills{
        gap: 1.5rem;
    }

    .skillsTitle {
        font-size: 2.5rem;
    }

    .skillsWrapper{
        grid-template-columns: auto auto auto;
        gap: 1.5rem;
    }
    
} */ 