.experienceDiv{
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    gap: 1.5rem;
    position: relative;
    width: 55%;
    z-index: 2;
}
.experienceDiv:nth-child(even){
    align-self: flex-end;
    flex-direction: row-reverse;
}
.companyLogo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.experienceTextContent {
    display: flex;
    flex-direction: column;
    gap:0.25rem;
}

.experiencePosition{
    font-size: 1.5rem;
    color: var(--900);
    font-weight: 600;
}

.experienceCompany {
    font-size: 1.2rem;
    color: var(--700);
    font-weight: 500;
}

.experienceDuration {
    font-size: 0.9rem;
    color: var(--900);
    font-weight: 400;
}

.experienceSummary {
    font-size: 1rem;
    color: var(--500);
    font-weight: 500;
    line-height: 2;
}

@media screen and (max-width:900px) {
    .experienceDiv {
        width: 90%;
        gap:0;
    }
    .experienceTextContent{
        width: 70%;
    }
    .experienceDiv:nth-child(even){
        align-self: center;
    }  
}

@media screen and (max-width:680px){
    .experienceDiv, .experienceDiv:nth-child(even){
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .experienceTextContent{
        width: 100%;
    }
    .companyLogo{
        height: 5rem;
        width: 5rem;
    }
}   