#about{
    /* max-height: calc(100vh - 5rem); */
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* position: relative; */
    overflow: hidden;
}

.profileImg{
    object-fit: cover;
    width: 48vw;
    max-width: 20rem;
}

.aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hello {
    margin-bottom: 0.75rem;
}

.myName{
    font-size: 2.5rem;
    color: var(--900);
    font-weight: 500;
    line-height: 2.5rem;
    margin-bottom: 0.7rem;
}

.role {
    width: fit-content;
    margin: 0 auto;

    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.2rem;
    color: var(--700);

    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid var(--500);
    animation: typing 3s steps(20), blink-caret 0.5s infinite;
}

@keyframes typing {
    from {width: 0 ;}
    to { width: 100%;} 
}

@keyframes blink-caret {
    from { border-color: transparent; }
    to { border-color: var(--500); }
  }

.aboutPara{
    font-size: 1rem;
    width: 49vw;
    margin-bottom: 1.75rem;
}

.buttons{
    display: flex;
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;
}

.resumeBtn, .contactBtn{
    color: white;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1.25rem 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background: var(--700);
    font-size: 1rem;
    cursor: pointer;
}

.downloadIcon, .sendIcon{
    height: 1.5rem;
}


@media screen and (max-width: 860px){
    .profileImg{
        width: 60vw;
    }
    .aboutPara{
        width: 90vw;
    } 
}

@media screen and (max-width: 600px){
    .profileImg{
        width: 72vw;
    }
    
}


@media screen and (max-width: 400px) {
    .role{
        white-space: normal;
    }
    
}