#contact{
    max-height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 4rem 0;
    gap: 1rem;   
}

.contactTitle {
    font-size: 3rem;
    color: var(--900);
    text-align: center;
    font-weight: 500;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 40rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--original100);
    color: var(--700)
}

:focus{
    outline-color: var(--700);
}

.submitBtn {
    color: white;
    border: none;
    padding: 0.75rem 2.5rem;
    border-radius: 0.5rem;
    background: var(--700);
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.socialMediaIconWrapper{
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
}

.socialMediaIcon {
    width: 3rem;
}

@media screen and (max-width: 700px){
    .name, .email, .msg {
        max-width: 30rem;
    }  
}

@media screen and (max-width: 540px){
    .contactTitle{
        font-size: 2.5rem;
    } 
}

@media screen and (max-width:480px) {
    .name, .email, .msg {
        max-width: 24rem;
    } 
    
}