.educationDiv{
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    position: relative;
    width: 55%;
    z-index: 2;
}
.educationDiv:nth-child(even){
    align-self: flex-end;
    flex-direction: row-reverse;
}
.instituteLogo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.educationTextContent {
    display: flex;
    flex-direction: column;
    gap:0.25rem;
}

.degreeTitle{
    font-size: 1.5rem;
    color: var(--900);
    font-weight: 600;
}

.degreeInstitute {
    font-size: 1.2rem;
    color: var(--700);
    font-weight: 400;
}

.degreeGrades {
    font-size: 1rem;
    color: var(--700);
    font-weight: 500;
}


@media screen and (max-width:1040px) {
    .educationDiv {
        width: 90%;
        gap:0;
    }
    .educationTextContent{
        width: 70%;
    }
    .educationDiv:nth-child(even){
        align-self: center;
    }  
}

@media screen and (max-width:680px){
    .educationDiv, .educationDiv:nth-child(even){
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .educationTextContent{
        width: 100%;
    }
    .instituteLogo{
        height: 5rem;
        width: 5rem;
    }
}   