.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--100);
    width: 100vw;
    color: var(--700);
    font-size: 1rem;
    font-weight: 500;
    padding: 2rem 0;
}